# Ignore all files in the c directory except .c, .h, and Makefile
c/*
!c/*.c
!c/*.h
!c/Makefile

# Ignore all files in the c++ directory except .cpp, .hpp, and Makefile
c++/*
!c++/*.cpp
!c++/*.hpp
!c++/Makefile
